# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs
.idea/
.vscode/

# Logs
# Logs
*.log
logs/

# Project specific
refresh_token.txt
accounts.json
